/* ConnectWalletButton.module.css */

.connectButton {
    padding: 0px 7.5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.walletContainer {
    position: relative;
    height: 56px;
}

.walletInfo {
    display: flex;
    background-color: var(--color-dark);
    align-items: center;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;
    padding-right: 10px;
    border-radius: 50px;
}

.walletInfo:hover {
    background-color: var(--color-dark-hover);
}

.incorrectNetwork {
    border-color: red;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    padding: 7.5px;
    margin-right: 10px;
}

.iconIncorrectNetwork {
    border-color: red;
}

.walletIcon {
    width: 100%;
    height: 100%;
}

.warningIcon {
    color: red;
    width: 100%;
    height: 100%;
}

.walletAddress {
    flex-grow: 1;
    color: var(--color-light);
    display: flex;
    align-items: center;
}

.chevronIcon {
    color: var(--color-light);
    margin-left: 10px;
    /* Adjust the spacing as needed */
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-dark);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    z-index: 10;
    display: block;
}

.disconnectButton {
    padding: 5px 10px;
    font-size: 14px;
    background-color: transparent;
    color: var(--color-light);
    transition: background-color 0.3s ease;
    margin-top: 10px;
    min-width: 95px;
}

.disconnectButton:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.loadingSpinner {
    padding: 60px;
}

@media (max-width: 888px) {
    .walletAddress {
        display: none;
    }

    .icon {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    .walletInfo {
        justify-content: center;
    }

    .dropdownMenu {
        right: 30%;
        transform: translateX(50%);
    }

    .connectButton {
        padding: 0 7.5px;
    }
}

@media (max-width: 480px) {
    .icon {
        padding: 5px;
    }

    .dropdownMenu {
        right: 95%;
    }

    .dropdownMenu p {
        font-size: 0.85rem;
    }
}

@media (max-width: 400px) {
    .dropdownMenu {
        right: 120%;
    }

    .dropdownMenu p {
        font-size: 0.7rem;
    }
}