.connectButton {
    padding: 0px 7.5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.walletContainer {
    position: relative;
    height: 56px;
}

.walletInfo {
    display: flex;
    background-color: var(--color-dark);
    align-items: center;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;
    padding-right: 10px;
    border-radius: 50px;
}

.walletInfo:hover {
    background-color: var(--color-dark-hover);
}

.incorrectNetwork {
    border-color: red;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    padding: 7.5px;
    margin-right: 10px;
}

.iconIncorrectNetwork {
    border-color: red;
}

.walletIcon {
    width: 100%;
    height: 100%;
}

.warningIcon {
    color: red;
    width: 100%;
    height: 100%;
}

.walletAddress {
    flex-grow: 1;
    color: var(--color-light);
    display: flex;
    align-items: center;
}

.chevronIcon {
    color: var(--color-light);
    margin-left: 10px;
    /* Adjust the spacing as needed */
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 350px;
}

.walletAddressModal {
    font-size: 1.2rem;
    margin-top: 10px;
}

.balance {
    font-size: 1rem;
    color: gray;
}

.modalButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    gap: 7.5px;
}

.modalButton {
    display: flex;
    padding: 2.5px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-dark);
    border: none;
    margin: 1px;
    cursor: pointer;
    color: var(--color-light);
    transition: color 0.3s ease;
}

.modalButton:hover {
    background-color: var(--color-accent);
    border: 1px solid var(--color-dark);
    margin: 0px;
}

.transactionsLabel {
    font-size: 1rem;
    margin-top: 20px;
    color: var(--color-light);
}

.switchButtonContainer {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin-top: 10px;
}

.switchButton {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 5px 20px;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.activeSwitchButton {
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.activeSwitchButton:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.transactionsList {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    text-align: left;
}

.transactionItem {
    display: flex;
    background-color: var(--color-dark);
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid var(--color-primary);
}

.transactionItem p {
    font-size: 16px;
    padding: 7.5px;
}

.transactionItem a {
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.noTransactions {
    color: gray;
    font-size: 0.85rem;
    text-align: center;
    margin-top: 10px;
}

.explorerButton {
    margin-top: 10px;
    background-color: var(--color-accent);
    color: var(--color-light);
    padding: 10px 20px;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.loadingSpinner {
    padding: 60px;
    margin-left: 0px;
}

@media (max-width: 888px) {
    .walletAddress {
        display: none;
    }

    .icon {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    .walletInfo {
        justify-content: center;
    }

    .dropdownMenu {
        right: 30%;
        transform: translateX(50%);
    }

    .connectButton {
        padding: 0 7.5px;
    }
}

@media (max-width: 480px) {
    .icon {
        padding: 5px;
    }

    .dropdownMenu {
        right: 95%;
    }

    .dropdownMenu p {
        font-size: 0.85rem;
    }
}

@media (max-width: 400px) {
    .dropdownMenu {
        right: 120%;
    }

    .dropdownMenu p {
        font-size: 0.7rem;
    }
}