.countdownContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.countdownTitle {
    font-size: 2.5rem;
    margin: 20px auto;
    text-align: center;
}

.countdownGrid {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    text-align: center;
}

.countdownBox {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    background-color: var(--color-accent);
    border-radius: 5px;
    color: var(--color-light);
}

.countdownValue {
    font-family: monospace;
    font-size: 2.5rem;
    animation: flip 1s infinite steps(1);
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

@keyframes slideOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(22.5%);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0.2;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-out-down {
    animation: slideOutDown 0.5s forwards;
}

.slide-in-up {
    animation: slideInUp 0.5s forwards;
}

.countdownValueWrapper {
    position: relative;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdownValue {
    font-family: monospace;
    font-size: 2.5rem;
    position: absolute;
}

@media (max-width: 768px) {

    .countdownGrid {
        gap: 7.5px;
    }

    .countdownBox {
        padding: 12.5px 20px;
    }

}