.crowdfundingSection {
    padding: 30px;
    margin: 0px 0px;
}

.card {
    background-color: var(--color-accent);
    color: var(--color-light);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
}

.cardContent {
    display: flex;
    flex-direction: column;
}

.cardData {
    margin: 10px 0px;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    color: white;
}

.cardData .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.key {
    padding: 5px;
    margin: 2px;
    font-size: 1.1rem;
    flex: 1;
}

.value {
    padding: 2.5px 7.5px 15px;
    text-align: right;
    font-size: 1rem;
    flex: 1;
}

.inputAmount {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--color-light);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.inputAmount.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.swapButton {
    margin: 15px 0px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.swapButton:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.swapButton:hover:disabled {
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.p3 {
    padding: 10px;
}

.countdownContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.countdownTitle {
    font-size: 2.5rem;
    margin: 20px auto;
    text-align: center;
}

.countdownGrid {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    text-align: center;
}

.countdownBox {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    background-color: var(--color-accent);
    border-radius: 5px;
    color: var(--color-light);
}

.countdownValue {
    font-family: monospace;
    font-size: 2.5rem;
    animation: flip 1s infinite steps(1);
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

@keyframes slideOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(22.5%);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0.2;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-out-down {
    animation: slideOutDown 0.5s forwards;
}

.slide-in-up {
    animation: slideInUp 0.5s forwards;
}

.countdownValueWrapper {
    position: relative;
    height: 3.5rem;
    /* Adjust based on the size of your font */
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdownValue {
    font-family: monospace;
    font-size: 2.5rem;
    position: absolute;
}

.alertBox {
    padding: 20px;
    margin-top: 10px;
    background-color: #2dff7301;
    color: yellow;
    border-radius: 5px;
    text-align: center;
}

.horizontalCards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.horizontalCard {
    background-color: var(--color-accent);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.horizontalCard h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.horizontalCard p {
    font-size: 1.65rem;
    text-align: center;
}

@media (max-width: 768px) {
    .cardData {
        margin: 0px;
    }

    .countdownGrid {
        gap: 7.5px;
    }

    .countdownBox {
        padding: 12.5px 20px;
    }

    .card {
        padding: 15px;
        max-width: 100%;
    }

    .buttonsContainer {
        flex-direction: column;
        align-items: stretch;
    }

    .horizontalCards {
        flex-direction: column;
    }

    .horizontalCard {
        margin: 10px 0;
    }
}