.mapContainer {
    width: 75%;
    height: 100vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .mapContainer {
        width: 100%;
        height: 400px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .mapContainer {
        width: 100%;
        height: 400px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .mapContainer {
        height: 300px;
    }
}