.mapContainer {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    z-index: 1;
}

@media (max-width: 1024px) {
    .mapContainer {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .mapContainer {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 480px) {
    .mapContainer {
        height: 300px;
    }

}