.container {
    margin: 10px auto;
    max-width: 1200px;
    padding: 60px 20px;
    text-align: center;
    background: #00000000;
}

.title {
    font-weight: 1000;
    margin: auto;
    max-width: 1200px;
    color: var(--color-light);
    font-size: 2.8rem;
    -webkit-text-stroke: 1px var(--color-dark);
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    margin: 20px;
    text-align: center;
    max-width: 300px;
    background: linear-gradient(0deg, #3a8d1ddf 0%, var(--color-primary) 70%, #00000000 71%, #0000 100%);
    padding: 0px;
    border-radius: 15px;
}

.memberImage {
    width: 100%;
    height: auto;
    border-color: var(--color-secondary);
    border-width: 3px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.memberName {
    font-size: 1.25rem;
    font-weight: 1000;
    color: var(--color-dark);
    -webkit-text-stroke: 0.1px var(--color-dark);
}

.memberRole {
    font-size: 1rem;
    font-weight: 1000;
    color: white;
    margin-bottom: 10px;
}

.memberDescription {
    height: 135px;
    font-size: 0.875rem;
    color: white;
    padding: 10px;
    margin: 10px;
}

.socialLinks {
    display: flex;
    justify-content: center;
}

.socialLink {
    margin: 20px auto;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.socialLink:hover {
    color: #4CAF50;
    /* Adjust color as needed */
}