.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48%;
    border-radius: 10px;
    background: var(--color-accent);
    color: var(--color-light);
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.content {
    width: 100%;
}


@media (max-width: 768px) {
    .cardsContainer {
        flex-direction: column;
    }

    .card {
        width: 100%;
        align-items: center;
    }

}