.section {
    overflow: hidden;
    padding-top: 2rem;
    padding-left: 0;
}

.container {
    margin: auto;
    max-width: 1280px;
}

.flexRow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    .flexRow {
        flex-direction: row;
    }
}

.infoBox {
    max-height: 250px;
    justify-content: space-between;
    border-radius: 2rem;
    background-color: var(--color-primary);
    padding: 1.5rem 1rem;
    color: var(--color-dark);
    text-align: center;
}

@media (min-width: 768px) {
    .infoBox {
        justify-content: flex-end;
        min-width: 250px;
        text-align: left;
    }
}

.title {
    margin: 30px auto;
    font-size: 1.5rem;
    font-weight: 600;
}

.link {
    display: flex;
    align-items: center;
    padding: 0rem 0;
    text-decoration: none;
    color: inherit;
    background: transparent;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.link:hover {
    text-decoration: underline;
    background: transparent;
    color: var(--color-dark);
}

.link p {
    color: black;
    margin-right: 0.5rem;
}

.imgContainer {
    height: 66.6667%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: transparent;
}

.textContainer {
    height: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.pagination {
    display: none;
}

.swiperContainer {
    height: 250px;
    width: 100%;
    margin: 0 auto;
}

.swiperSlide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 250px;
    max-width: 250px;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .swiperContainer {
        width: 100%;
    }

    .swiperSlide {
        margin-right: 1rem;
    }

    .pagination {
        display: flex;
        gap: 1rem;
        padding: 1rem 0;
    }
}

.navigationButtons {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.paginationButton {
    background-color: var(--color-light);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationButton img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    color: transparent;
}

.prevButton {
    left: 0;
}

.nextButton {
    right: 0;
}