.container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 55px;
    border: 2px solid var(--color-primary);
    box-shadow: 0 12px 24px var(--color-secondary);
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: auto;
    transition: background 0.5s ease;

}

.tier1 {
    background: linear-gradient(to top right, #f8f8f8, #dcdcdc);
}

.tier2 {
    background: linear-gradient(45deg, #ADA996, #F2F2F2, #ADA996);
}

.tier3 {
    background: linear-gradient(45deg, #D29D2B, #FFFFFF, #D29D2B);
}

.tier4 {
    background: linear-gradient(45deg, #E5E4E2, #FFFFFF, #E5E4E2);
}

.tier5 {
    background: linear-gradient(45deg, #B9F2FF, #FFFFFF, #B9F2FF);
}

.tier6 {
    background: linear-gradient(45deg, #000000, #434343, #000000);
}

.toggle {
    padding: 8px 16px;
    background-color: var(--color-secondary);
    color: var(--color-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.toggle:hover {
    background-color: var(--color-primary);
}

.selector,
.customSelector {
    color: var(--color-light);
    width: 60%;
    margin: 10px auto;
}

.info {
    font-size: 1.25rem;
    text-align: center;
    color: var(--color-dark);
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
    padding: 15px;
}

.priceDisplay {
    text-align: center;
    font-weight: 600;
    background-color: var(--color-accent);
    color: var(--color-light);
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    display: inline-block;
    width: 55%;
}

.label {
    font-size: 1.1rem;
    color: var(--color-dark);
    margin-bottom: 5px;
    font-weight: 600;
}


.labelText {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-light);
    background-color: var(--color-secondary);
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-accent);
    margin-bottom: 0;
    max-width: 350px;
}

.inputField,
.selectField {
    text-align: center;
    padding: 8px 10px;
    border: 1px solid var(--color-accent);
    border-radius: 0 0 10px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--color-accent);
    background-color: var(--color-light);
    border-top: none;
    max-width: 350px;
    max-height: 36px;
    margin-bottom: 10px;
}


.buyButton {
    padding: 12px 20px;
    background-color: var(--color-secondary);
    color: var(--color-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 1px solid var(--color-accent);
}

.buyButton:hover {
    background-color: var(--color-primary);
    transform: scale(1.01);
    border: 1px solid var(--color-accent);
}

.NFTTitle {
    text-align: center;
    font-size: 2rem;
    -webkit-text-stroke: 1px var(--color-accent);
    font-weight: 1000;
    color: var(--color-primary);
    padding: 15px;
    margin-top: 2.5px;
}