.road {
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    margin: 0px -20px;
    background: #00000000;
    color: var(--color-light);
    margin-top: 35px;
    margin-bottom: 35px;
    animation: fadeIn 1s ease-in-out;
}

.roadInner {
    justify-content: center;
    text-align: center;
}

.roadTitle {
    font-weight: 1000;
    margin: auto;
    max-width: 1200px;
    color: var(--color-light);
    font-size: 2.8rem;
    -webkit-text-stroke: 1px var(--color-dark);
}

.roadText {
    font-weight: 500;
    padding: 40px 0px;
    margin: auto;
    max-width: 1200px;
    font-size: 1.2rem;
    color: linear-gradient(90deg, rgba(211, 220, 209, 0.1) 0%, rgba(211, 220, 209, 1) 50%, rgba(211, 220, 209, 0.1) 100%);
}

.roadSlider {
    position: relative;
    margin: 30px auto;
}

.roadSlide {
    padding: 20px;
    border-radius: 15px;
    max-width: 700px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    color: linear-gradient(90deg, rgba(81, 89, 83, 0.1) 0%, rgba(211, 220, 209, 1) 50%, rgba(81, 89, 83, 0.1) 100%);
    text-align: center;
    margin: auto auto;
    transition: all 0.3s ease;
    border: 1px solid var(--color-primary);
    background: linear-gradient(0deg, #2A332Cff 10%, #3a8d1d10 50%, #2A332Cff 90%);
}

.roadPhaseInner {
    margin-bottom: 10px;
}

.roadPhase {
    font-weight: 800;
    font-size: 20px;
    color: var(--color-neon-green);
    -webkit-text-stroke: 1px var(--color-primary);
}

.roadSlideTitleInner {
    margin-bottom: 12px;
}

.roadSlideTitle {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}

.roadSlideName {
    font-size: 1rem;
    color: var(--color-secondary);
}

.roadSlidePoints {
    margin-top: 20px;
}

.roadSlidePoint {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.roadSlidePointCircle {
    width: 10px;
    height: 10px;
    background-color: var(--color-neonGreen);
    border-radius: 50%;
    margin-right: 10px;
}

@media (max-width: 1000px) {
    .roadSlide {
        margin: auto 10px;
    }

    .roadTitle {
        font-size: 2rem;
    }

    .roadText {
        padding: 20px 0px;
        font-size: 1rem;
    }

}