.stepByStepContainer {
    text-align: center;
    padding: 30px;
    background: linear-gradient(0deg, #00000000 10%, var(--color-dark) 35%, #2dff7311 50%, var(--color-dark) 65%, #00000000 90%);
    margin: 20px -20px;
}

.swiperWrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
    align-items: center;
}

.flexWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.stepCardWrapper {
    flex: 0 0 auto;
}

.stepCard {
    background-color: var(--color-accent);
    color: var(--color-light);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
}

.icon {
    margin: 0 auto;
}

.icon img {
    margin: auto;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.stepInner {
    display: right;
    align-items: center;
    margin: auto;
}

.stepNum {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-right: 10px;
}

.stepText {
    font-size: 1rem;
    font-weight: normal;
}

.stepTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-primary);
}

.text {
    font-size: 1rem;
    line-height: 1.5rem;
}

.arrow {
    font-size: 2rem;
    color: var(--color-primary);
    margin: 0 16px;
    flex: 0 0 auto;
    display: block;
}

.arrowDown {
    display: none;
    font-size: 2rem;
    color: var(--color-primary);
    margin: 16px 0;
}

@media (max-width: 768px) {
    .swiperWrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .flexWrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .stepCardWrapper {
        margin-bottom: 16px;
        margin-right: 0;
        width: 100%;
    }

    .arrow {
        display: none;
    }

    .arrowDown {
        display: block;
    }
}