.tableWrapper {
    overflow-x: auto;
    margin: 0;
}

.table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.header,
.cell {
    padding: 15px 20px;
    text-align: center;
    color: #333;
    border: 1px solid #dddddd;
}

.stickyColumn {
    position: sticky;
    left: 0;
    background-color: #f0f0f0;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header {
    background-color: #4CAF50;
    color: #ffffff;
    font-weight: bold;
}

.cell {
    background-color: #fafafa;
}

.row:hover .cell {
    background-color: #eef;
}

.input {
    margin: 0px 2.5px;
    padding: 0px 5px;
    border: 0.1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    max-width: 70px;
    background-color: #00000000
}

@media screen and (max-width: 768px) {
    .stickyColumn {
        background-color: #fff;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .header {
        background-color: #4CAF50;
    }
}