.heroSubtitle {
    margin: auto;
    font-size: 2rem;
    max-width: 900px;
    text-align: center;
}

.dashboardPanel {
    border-radius: 8px;
    max-width: 1200px;
    margin: 0px auto;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.cardsContainer>div {
    flex: 1 1 200px;
    max-width: 350px;
    margin: 0px auto;
}

.privateSection {
    margin: 20px auto;
}

.privateSection h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.privateCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.privateCardsContainer>div {
    flex: 1 1 350px;
    max-width: 350px;
}

@media (max-width: 1200px) {
    .heroSubtitle {
        font-size: 1.85rem;
    }

    .cardsContainer>div,
    .privateCardsContainer>div {
        flex: 1 1 200px;
        max-width: 300px;
    }

    .privateSection h3 {
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px) {
    .heroSubtitle {
        font-size: 1.75rem;
    }

    .cardsContainer>div,
    .privateCardsContainer>div {
        flex: 1 1 180px;
        max-width: 280px;
    }

    .privateSection h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .heroSubtitle {
        font-size: 1.5rem;
    }

    .cardsContainer>div,
    .privateCardsContainer>div {
        flex: 1 1 160px;
        max-width: 240px;
    }

    .privateSection h3 {
        font-size: 1.25rem;
    }
}

@media (max-width: 600px) {
    .heroSubtitle {
        font-size: 1.3rem;
    }

    .cardsContainer>div,
    .privateCardsContainer>div {
        flex: 1 1 140px;
        max-width: 220px;
    }

    .privateSection h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    .heroSubtitle {
        font-size: 1.2rem;
    }

    .privateSection h3 {
        font-size: 1.15rem;
    }

    .cardsContainer,
    .privateCardsContainer {
        justify-content: space-between;
    }

    .cardsContainer>div,
    .privateCardsContainer>div {
        padding: 10px;
        flex: 1 1 120px;
        max-width: 180px;
    }
}

@media (max-width: 380px) {
    .heroSubtitle {
        font-size: 1.15rem;
    }

    .cardsContainer>div,
    .privateCardsContainer>div {
        padding: 5px;
        flex: 1 1 100px;
        max-width: 160px;
    }

    .privateSection h3 {
        font-size: 1rem;
    }
}