@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: var(--color-light);
    animation: fadeIn 1s ease-in-out;
}


.hero {
    text-align: center;
    background: #00000000;
    padding: 50px 30px;
    border-radius: 15px;
    color: var(--color-light);
    margin-top: 50px;
    margin-bottom: 15px;
    animation: fadeIn 1s ease-in-out;
    font-size: 30px;
    font-weight: 1000;
    -webkit-text-stroke: 1px var(--color-dark);
}

.heroTitle {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.heroSubtitle {
    font-size: 1.2rem;
}

.section {
    margin: 10px 0;
    padding: 50px;
    background: linear-gradient(to bottom, #ffffff10, var(--color-accent));
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.section:hover {
    transform: translateY(-1px);
    background-color: var(--color-accent);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 5px var(--color-primary);
}


.sectionTitle {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke: 1px var(--color-primary);
    color: var(--color-secondary);
}

.paragraph {
    font-size: 20px;
    line-height: 1.6;
    color: var(--color-secondary);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 10px 0;
    color: var(--color-light);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: 1fr;
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gap-8 {
    gap: 2rem;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    background-color: var(--color-neon-green);
    transform: scale(1.05);
}

.testimonials {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.testimonial {
    flex: 0 0 330px;
    margin: 0 10px;
    padding: 30px;
    background: var(--color-accent);
    border-radius: 15px;
    scroll-snap-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.testimonial:hover {
    transform: scale(1.05);
    background-color: var(--color-accent);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 15px var(--color-primary), 0 0 25px var(--color-primary), 0 0 35px var(--color-primary), 0 0 45px var(--color-primary);
}

.card {
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.standard {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.premium {
    background-color: #fff;
    border: 2px solid #3a8d1d;
    /* Highlight with a green border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    /* Slightly larger */
}

.title {
    margin: 10px 0;
}

.details {
    list-style: none;
    padding: 0;
}

.detailItem {
    padding: 5px 0;
}

.chooseButton {
    background-color: #3a8d1d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chooseButton:hover {
    background-color: #2A332C;
}

.videoSection {
    margin: 40px 0;
    padding: 20px;
    background: var(--color-dark);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: var(--color-dark);
    border-radius: 15px;
}

.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}