@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: linear-gradient(90deg, rgba(81, 89, 83, 1) 0%, rgba(211, 220, 209, 1) 50%, rgba(211, 220, 209, 0.5) 100%);
    animation: fadeIn 1s ease-in-out;
}


.hero {
    text-align: center;
    background: #00000000;
    padding: 170px 30px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
    animation: fadeIn 1s ease-in-out;
    font-size: 30px;
    font-weight: 1000;
}

.heroTitle {
    background: -webkit-linear-gradient(0deg, var(--color-neon-green) 10%, var(--color-light) 50%, var(--color-primary) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6.5rem;
    margin-bottom: 1rem;
}

.heroSubtitle {
    margin: auto;
    font-size: 2rem;
    max-width: 1200px;
}

.sectionEven {
    justify-content: center;
    max-width: 1200px;
    margin: 15px auto;
    padding: 50px;
    background: linear-gradient(to bottom, #ffffff20, var(--color-accent));
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.sectionEven:hover {
    transform: translateY(-0.5px);
    background-color: var(--color-accent);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 5px var(--color-primary);
}

.sectionEvenTitle {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: linear-gradient(90deg, var(--color-accent), var(--color-light), var(--color-accent));
}

.sectionOdd {
    max-width: 1200px;
    margin: 15px auto;
    padding: 50px;
    background: #00000035;
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.sectionOdd:hover {
    transform: translateY(-0.5px);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 5px var(--color-primary);
}


.sectionOddTitle {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(0deg, var(--color-neon-green) 30%, var(--color-primary) 50%, var(--color-neon-green) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    text-align: justify;
    color: var(--color-light);
    font-size: 1rem;
    line-height: 1.5;
    padding: 15px;
}

@media (max-width: 768px) {
    .heroTitle {
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }

    .heroSubtitle {
        font-size: 1.5rem;
    }

    .sectionEvenTitle {
        font-size: 1.4rem;
    }

    .sectionOddTitle {
        font-size: 1.4rem;
    }

    .paragraph {
        font-size: 1.25rem;
    }
}

.details {
    background-color: var(--color-light);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.subTitle {
    color: #3a8d1d;
    font-weight: bold;
    margin: 15px;
}

.list {
    list-style-type: disc;
    padding: 0;
    margin: 20px;
}

.listItem {
    margin: 10px 0;
    color: var(--color-light);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: 1fr;
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gap-8 {
    gap: 2rem;
}

.button {
    text-align: center;
    margin: 20px auto;
    max-width: 250px;
    display: block;
    padding: 12px 24px;
    background-color: var(--color-secondary);
    color: var(--color-light);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    background-color: var(--color-primary);
    color: var(--color-accent);
    transform: scale(1.05);
}

.testimonials {
    padding: 15px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.testimonial {
    flex: 0 0 330px;
    margin: 0 10px;
    padding: 30px;
    background: var(--color-accent);
    border-radius: 15px;
    scroll-snap-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.testimonial:hover {
    transform: scale(1.05);
    background-color: var(--color-accent);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 5px var(--color-dark);
}


.standard {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.premium {
    background-color: #fff;
    border: 2px solid var(--color-primary);
    /* Highlight with a green border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    /* Slightly larger */
}

.title {
    margin: 10px 0;
}

.details {
    list-style: none;
    padding: 0;
}

.detailItem {
    padding: 5px 0;
}

.chooseButton {
    background-color: var(--color-secondary);
    color: var(--color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chooseButton:hover {
    background-color: #2A332C;
}