@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main {
    padding: 20px;
    color: linear-gradient(90deg, rgba(81, 89, 83, 1) 0%, rgba(211, 220, 209, 1) 50%, rgba(211, 220, 209, 0.5) 100%);
    animation: fadeIn 1s ease-in-out;
}


.hero {
    display: flex;
    max-width: 1200px;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heroInner {
    width: 100%;
    flex: 1;
}

.heroImage {
    width: 100%;
    flex: 1;
}

.joinSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.joinButton {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-dark);
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.heroSubtitle {
    text-align: left;
    margin: auto;
    font-size: 1.5rem;
}


@media (max-width: 768px) {
    .heroSubtitle {
        font-size: 1.5rem;
    }

}

.title {
    margin: 10px 0;
}