@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main {
    padding: 20px;
    color: linear-gradient(90deg, rgba(81, 89, 83, 1) 0%, rgba(211, 220, 209, 1) 50%, rgba(211, 220, 209, 0.5) 100%);
    animation: fadeIn 1s ease-in-out;
}

.hero {
    display: flex;
    padding: 90px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    margin-bottom: 0px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    max-width: 1200px;
    font-size: 30px;
    font-weight: 1000;
}

.heroInner {
    width: 100%;
    padding: 20px;
}

.heroImage {
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 20px;
}

.heroSubtitle {
    font-size: 1.5rem;
    margin: 20px 0;
}

.joinSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media (min-width: 769px) {
    .hero {
        flex-direction: row;
    }

    .heroInner {
        flex: 1;
    }

    .heroImage {
        flex: 1;
        height: 600px;
    }

    .heroSubtitle {
        text-align: left;
        margin: auto;
    }
}

@media (max-width: 1200px) {
    .heroSubtitle {
        font-size: 1.85rem;
    }

    .heroImage {
        height: 500px;
    }
}

@media (max-width: 1024px) {
    .heroSubtitle {
        font-size: 1.75rem;
    }

    .heroImage {
        height: 425px;
    }
}

@media (max-width: 768px) {
    .heroSubtitle {
        font-size: 1.5rem;
        margin: auto;
    }

    .heroImage {
        height: 400px;
    }
}

@media (max-width: 600px) {
    .heroSubtitle {
        font-size: 1.3rem;
    }

    .heroImage {
        height: 350px;
    }
}

@media (max-width: 450px) {
    .heroSubtitle {
        font-size: 1.2rem;
    }

    .heroImage {
        height: 250px;
    }
}

@media (max-width: 380px) {
    .heroSubtitle {
        font-size: 1.15rem;
    }

    .heroImage {
        height: 200px;
    }
}