.main {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: linear-gradient(90deg, rgba(81, 89, 83, 1) 0%, rgba(211, 220, 209, 1) 50%, rgba(211, 220, 209, 0.5) 100%);
    animation: fadeIn 1s ease-in-out;
}


.hero {
    text-align: center;
    background: #00000000;
    padding: 170px 30px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
    animation: fadeIn 1s ease-in-out;
    font-size: 30px;
    font-weight: 1000;
}

.heroTitle {
    background: -webkit-linear-gradient(0deg, var(--color-neon-green) 10%, var(--color-light) 50%, var(--color-primary) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6.5rem;
    margin-bottom: 1rem;
}

.heroSubtitle {
    margin: auto;
    font-size: 2rem;
    max-width: 1200px;
}


@media (max-width: 768px) {
    .heroTitle {
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }

    .heroSubtitle {
        font-size: 1.5rem;
    }
}

.details {
    background-color: var(--color-light);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.subTitle {
    color: #3a8d1d;
    font-weight: bold;
    margin: 15px;
}

.button {
    text-align: center;
    margin: 20px auto;
    max-width: 250px;
    display: block;
    padding: 12px 24px;
    background-color: var(--color-secondary);
    color: var(--color-light);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    background-color: var(--color-primary);
    color: var(--color-accent);
    transform: scale(1.05);
}


.title {
    margin: 10px 0;
}