.main {
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}




.hero {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 170px 30px;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    animation: fadeIn 1s ease-in-out;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
    font-size: 30px;
    font-weight: 1000;
}

.heroText {
    text-align: center;
    max-width: 600px;
    margin: 0px auto;
}

.heroImage {
    max-width: 350px;
    width: 100%;
    margin: 20px;
    order: -1;
}

.heroImage img {
    border-radius: 30px;
}

@media (min-width: 1024px) {

    .hero {
        flex-direction: row;
        justify-content: space-between;
    }

    .heroText {
        order: 1;
        text-align: left;
        width: 50%;
    }

    .heroImage {
        max-width: 600px;
        order: 2;
        width: 45%;
        margin: auto;
    }
}

.heroSubtitle {
    margin: auto;
    font-size: 2rem;
    max-width: 1200px;
    text-align: center;
}

@media (max-width: 724px) {
    .heroTitle {
        margin-top: 50px;
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .heroSubtitle {
        font-size: 1.5rem;
    }
}