.hero {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 30px 20px;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    animation: fadeIn 1s ease-in-out;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.heroText {
    text-align: center;
    max-width: 600px;
    margin: 0px auto;
}

.heroImage {
    max-width: 350px;
    width: 100%;
    margin: 20px;
    border-radius: 15px;
    order: -1;
}

@media (min-width: 1024px) {

    .hero {
        flex-direction: row;
        justify-content: space-between;
    }

    .heroText {
        order: 1;
        text-align: left;
        padding-right: 20px;
        width: 40%;
    }

    .heroImage {
        max-width: 600px;
        order: 2;
        width: 45%;
        margin: auto;
        border-radius: 0;
    }
}

.heroTitle {
    background: -webkit-linear-gradient(0deg, var(--color-neon-green) 10%, var(--color-light) 50%, var(--color-primary) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .heroTitle {
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }
}

.heroSubtitle {
    font-size: 1.5rem;
}