.roadmapContainer {
    max-width: 1200px;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff40, var(--color-dark));
    border-radius: 75px;
    box-shadow: 0 5px 7.5px var(--color-neon-green);
    /* Light gray background for a subtle look */
}

.title {
    font-size: 3rem;
    margin-bottom: 40px;
    color: var(--color-light);
    /* Use a dark color for strong contrast */
}

.timeline {
    position: relative;
    padding-left: 55px;
    margin: 20px;
    border-left: 1px solid var(--color-neon-green);
    /* Use a vibrant color for the timeline */
}

.phase {
    position: relative;
    margin: 0px 40px 30px 0px;
    padding: 20px;
    background: linear-gradient(to top, #ffffff50, var(--color-secondary));
    /* White background for each phase for high contrast */
    border-radius: 15px;
    /* Rounded borders for a modern look */
    box-shadow: 0 5px 15px var(--color-primary);
    /* Soft shadow for depth */
}

.phase::before {
    content: '';
    position: absolute;
    left: -45px;
    top: 17.5px;
    width: 30px;
    height: 30px;
    background: var(--color-neon-green);
    /* Bright color for visual interest */
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Small shadow for the timeline markers */
}

.phase h2 {
    font-size: 1.8rem;
    color: var(--color-dark);
    /* Dark color for readability and emphasis */
}

.phase p {
    font-size: 1rem;
    color: var(--color-dark);
    /* Dark color for readable body text */
    text-align: left;
    padding: 10px;
    /* Padding for text inside phases */
}