.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

.sidebar {
    padding: 20px;
    background-color: var(--color-accent);
    border-right: 1px solid var(--color-primary);
    height: 100vh;
    overflow-y: auto;
    margin-top: 80px;
    width: 40%;
}

.map {
    width: 60%;
    height: 100vh;
    overflow-y: auto;
    margin-top: 80px;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: var(--color-light);
}

.searchInput {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    margin-bottom: 20px;
}

.filterButtonsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filterButton {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: 1px solid var(--color-primary);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.resultsCount {
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--color-light);
}

.academiesList {
    margin-top: 20px;
}

.academyCard {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-dark);
}

.academyImage {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
}

.academyDetails {
    color: var(--color-light);
}

.academyDetails h3 {
    margin: 0;
}

.academyDetails p {
    margin: 5px 0;
    font-size: 14px;
}

.distance {
    color: var(--color-primary);
}

.availability {
    font-weight: bold;
    color: var(--color-accent);
}

@media (max-width: 1024px) {
    .main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        border-right: none;
        margin-bottom: 20px;
    }

    .map {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        padding: 10px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        border-right: none;
        margin-bottom: 20px;
    }

    .map {
        width: 100%;
        height: 400px;
    }

    .academyCard {
        flex-direction: column;
        align-items: center;
    }

    .academyImage {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 5px;
    }

    .filterButton {
        font-size: 0.9rem;
    }

    .searchInput {
        padding: 8px;
        margin-top: 3px;
    }

    .academyCard {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .academyDetails h3 {
        font-size: 1rem;
    }

    .academyDetails p {
        font-size: 0.875rem;
        margin: 3px 0;
    }
}