.main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: var(--color-light);
    animation: fadeIn 1s ease-in-out;
}


.hero {
    text-align: center;
    background: linear-gradient(to top, #ffffff10, var(--color-accent));
    color: var(--color-neon-green);
    padding: 50px 30px;
    border-radius: 15px;
    margin-bottom: 40px;
    animation: fadeIn 1s ease-in-out;
    font-size: 30px;
    font-weight: 1000;
}

.heroTitle {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.heroSubtitle {
    font-size: 1.5rem;
}

.section {
    margin: 40px 0;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff10, var(--color-accent));
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.section:hover {
    transform: translateY(-2.5px);
    background-color: var(--color-accent);
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 10px var(--color-primary), 0 0 20px var(--color-primary), 0 0 20px var(--color-primary), 0 0 20px var(--color-primary);
}


.sectionTitle {
    color: var(--color-primary);
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-neon-green);
}

.paragraph {
    line-height: 1.6;
    color: var(--color-secondary);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 10px 0;
    color: var(--color-light);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: 1fr;
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gap-8 {
    gap: 2rem;
}