@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2dff73;
  --color-secondary: #3a8d1d;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-accent: #515953;
  --color-neon-green: #39FF14;
  --swiper-navigation-color: #2dff73;
}


.swiper-pagination-bullet {
  background: #2dff73 !important;
}

.swiper-pagination-bullet-active {
  background: #2dff73 !important;
}





body {
  color: var(--color-light);
  background: linear-gradient(to bottom, transparent, var(--color-dark)) var(--color-dark);
}

p {
  text-align: justify;
  color: var(--color-light);
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 15px;
}

b {
  color: var(--color-primary)
}

a {
  color: var(--color-light);
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
  color: var(--color-neon-green);
  text-shadow: 0 0 5px var(--color-neon-green);
}

@media (max-width: 480px) {
  p {
    font-size: 0.9rem;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}