@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2dff73;
  --color-secondary: #3a8d1d;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-accent: #515953;
  --color-neon-green: #39FF14;
}

b {
  color: var(--color-primary)
}

body {
  color: var(--color-light);
  background: linear-gradient(to bottom, transparent, var(--color-dark)) var(--color-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}