@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2dff73;
  --color-secondary: #3a8d1d;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-accent: #1f1f1f;
  --color-neon-green: #39FF14;
  --swiper-navigation-color: #2dff73;
}


.swiper-pagination-bullet {
  background: #2dff73 !important;
}

.swiper-pagination-bullet-active {
  background: #2dff73 !important;
}

h1 {
  background: -webkit-linear-gradient(0deg, var(--color-neon-green) 10%, var(--color-light) 50%, var(--color-primary) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6.5rem;
  margin-bottom: 1rem;
}

h2 {
  padding: 5px;
  margin: 20px auto;
  font-size: 2.45rem;
}

body {
  color: var(--color-light);
  background: linear-gradient(to bottom, transparent, var(--color-dark)) var(--color-dark);
  font-family: "Inconsolata", "Plus Jakarta Sans", "Roboto", "Open Sans", sans-serif;
}

p {
  text-align: justify;
  color: var(--color-light);
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 15px;
}

b {
  color: var(--color-primary)
}

a {
  color: var(--color-light);
  text-decoration: none;
  padding: 0.2rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
  color: var(--color-neon-green);
  text-shadow: 0 0 5px var(--color-neon-green);
}

button {
  width: 100%;
  background-color: #2dff73;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button a {
  color: var(--color-dark);
  font-weight: 600;
}

button:hover {
  background-color: #2dff7360;
  color: var(--color-light);
  border: 1px solid var(--color-primary);
}

button:hover a {
  color: var(--color-light);
}

input,
select {
  flex: 1;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid var(--color-light);
  background-color: var(--color-dark);
  color: var(--color-light);
}

input[type="range"] {
  accent-color: var(--color-primary)
}

@media (max-width: 1024px) {
  h1 {
    font-size: 6.8rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.3rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.05rem;
  }

}

@media (max-width: 480px) {
  p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}