/* styles/Home.module.css */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: var(--color-light);
    animation: fadeIn 1s ease-in-out;
}

.hero {
    text-align: center;
    background: linear-gradient(135deg, var(--color-neon-green), var(--color-primary));
    color: white;
    padding: 50px 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    animation: fadeIn 1s ease-in-out;
}

.section {
    margin: 40px 0;
    padding: 20px;
    background: var(--color-dark);
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.section:hover {
    transform: translateY(-10px);
    background-color: var(--color-accent);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 15px var(--color-primary), 0 0 25px var(--color-primary), 0 0 35px var(--color-primary), 0 0 45px var(--color-primary);
}

.sectionTitle {
    color: var(--color-primary);
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 10px 0;
}

.paragraph {
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    background-color: var(--color-neon-green);
    transform: scale(1.05);
}

.testimonials {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.testimonial {
    flex: 0 0 300px;
    margin: 0 10px;
    padding: 20px;
    background: var(--color-dark);
    border-radius: 15px;
    scroll-snap-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.testimonial:hover {
    transform: scale(1.05);
    background-color: var(--color-accent);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 15px var(--color-primary), 0 0 25px var(--color-primary), 0 0 35px var(--color-primary), 0 0 45px var(--color-primary);
}