.variables {
    --color-primary: #3a8d1d;
    --color-secondary: #d3dcd1;
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-accent: #515953;
    --color-neon-green: #39FF14;
}

.particleNetworkCanvas {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #000000ff 100%, #00000010 50%, #000000ff 0%);
    ;
    /* Example background */
    z-index: -1;
    /* Ensure it stays in the background */
}