.particleNetworkCanvas {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    /* Example background */
    z-index: -1;
    /* Ensure it stays in the background */
}