:global(.variables) {
    --color-primary: #2dff73;
    --color-secondary: #3a8d1d;
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-accent: #1f1f1f;
    --color-neon-green: #39FF14;
}