:global(.variables) {
    --color-primary: #2dff73;
    --color-secondary: #3a8d1d;
    --color-dark: #000000;
    --color-light: #D3DCD1;
    --color-accent: #515953;
    --color-neon-green: #39FF14;
}