.stepByStepContainer {
    text-align: center;
    padding: 30px;
    margin: 20px -20px;
    background-image: url('/img/main-grid.svg');
    background-size: cover;
    background-position: bottom;
    padding-bottom: 25px;
    border-top: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
}

.swiperWrapper,
.flexWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.stepCardWrapper {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.stepCard {
    background-color: var(--color-accent);
    color: var(--color-light);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.icon {
    margin: 0 auto;
}

.icon img {
    margin: auto;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.stepInner {
    display: flex;
    align-items: center;
    margin: auto;
}

.stepNum {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-right: 10px;
}

.stepText {
    font-size: 1rem;
    font-weight: normal;
}

.stepTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-primary);
}

.text {
    font-size: 1rem;
    line-height: 1.5rem;
    flex-grow: 1;
}

.arrow {
    font-size: 2rem;
    color: var(--color-primary);
    margin: 0 16px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowDown {
    display: none;
    font-size: 2rem;
    color: var(--color-primary);
    margin: 16px 0;
}

@media (max-width: 768px) {
    .stepByStepContainer {
        background-image: none;
    }

    .swiperWrapper,
    .flexWrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .stepCardWrapper {
        margin-bottom: 16px;
        width: 100%;
    }

    .arrow {
        display: none;
    }

    .arrowDown {
        display: block;
    }
}