.searchComponent {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.searchInput {
    width: 100%;
    height: 40px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
}

.searchButton {
    height: 40px;
    padding: 0 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}