.searchBar {
    display: flex;
    margin-bottom: 20px;
}

.searchInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.searchButton {
    padding: 10px 15px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.searchButton:hover {
    background-color: var(--color-primary-dark);
}