.section {
    position: relative;
    overflow: hidden;
    padding: 10px 0 0px;
    margin: 0px -20px;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--color-dark) 10%, rgba(0, 200, 0, 0.8) 50%, var(--color-dark) 90%);
    mix-blend-mode: overlay;
    z-index: -1;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.sectionRow {
    display: flex;
    align-items: center;
    text-align: center;
}

.sectionCol1,
.sectionCol2 {
    margin: 20px auto;
}

.sectionTitle {
    font-size: 2.5rem;
    font-weight: bold;
}

.textBlockV1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    max-width: 600px;
}

.communityLinks {
    margin-top: 0px;
    padding-top: 10px;
}

.joinLine {
    border-top: 1px solid var(--color-primary);
    width: 100%;
    margin-top: 0px;
}

.joinLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.joinItem {
    margin: 10px auto;
}

.socLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;
}

.socLink:hover {
    transform: translateY(-2px);
}

.socLinkIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-size: 2rem;
    /* Adjust the font size for icons */
}

.socLinkText span {
    font-size: 1.2rem;
    font-weight: 600;
}

.animatedJoinSection {
    overflow: hidden;
    width: 100%;
    margin: 0px 0;
    margin-top: 80px;
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-light);
    /* Updated color */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollContent {
    display: flex;
    width: max-content;
    animation: scrollLeftInfinite 20s linear infinite;
}

.scrollItem {
    display: flex;
    align-items: center;
    padding-right: 150px;
}

.joinLogo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.joinText {
    display: inline-block;
    width: 100%;
    white-space: nowrap
}

@keyframes scrollLeftInfinite {
    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(-95%);
    }
}

@media (max-width: 768px) {

    .animatedJoinSection {
        font-size: 2rem;
    }

    .joinLogo {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .scrollItem {
        padding-right: 75px;
        padding-top: 250px;
    }

    .sectionRow {
        flex-direction: row;
        text-align: left;
        margin-bottom: -100px;
    }

    .sectionCol1 {
        flex: 1;
        margin: 0;
    }

    .sectionCol2 {
        flex: 2;
        margin: 0;
    }

    .textBlockV1 {
        font-size: 1rem;
    }

    .joinLinks {
        justify-content: flex-start;
    }
}