.amountInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.amountInput {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    font-size: 1rem;
    color: var(--color-text-primary);
    background-color: var(--color-background-light);
}

.amountInput:focus {
    outline: none;
    border-color: var(--color-primary);
}

.amountInput:disabled {
    background-color: var(--color-background-disabled);
    cursor: not-allowed;
}

.maxButton {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.maxButton:hover {
    background-color: var(--color-primary-dark);
}

.maxButton:disabled {
    background-color: var(--color-background-disabled);
    cursor: not-allowed;
}