.connectButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-dark);
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    max-width: 150px;
    padding: 2px 2px;
}

.walletIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    border-radius: 20px;
    padding: 8px 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}


.walletIcon {
    font-size: 1rem;
}

.switchIcon {
    color: #ff4d4d;
    width: 24px;
    height: 24px;
    font-size: 1rem;
}

.buttonText {
    padding: 8px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .connectButton {
        font-size: 0.8rem;
        max-width: 120px;
    }

    .walletIcon,
    .switchIcon {
        font-size: 0.9rem;
    }
}

.incorrectNetwork {
    background-color: #ff4d4d;
}

.incorrectNetwork:hover {
    background-color: #ff6666;
}

.incorrectNetwork:hover .switchIcon {
    color: #ff6666;
}

.switchNetworkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent);
    color: var(--color-light);
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.switchNetworkButton:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);
}