.section {
    padding-top: 0px;
}

.use {
    margin: auto;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-light);
    text-align: center;
}

.useTitle {
    margin-bottom: 32px;
}

.useItem {
    margin: 0px 0;
    opacity: 1;
    pointer-events: all;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.lineV1 {
    height: 2px;
    background-color: var(--color-accent);
    margin: 0px 0px;
}

.useInner {
    padding: 3px 0;
    display: flex;
    align-items: center;
}

.useCard {
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--color-dark);
    border: 1px solid var(--color-accent);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.useCard {
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--color-dark);
    border: 1px solid var(--color-accent);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.useCardIcon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    animation: wiggle 8s ease infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.useCard:hover .useCardIcon {
    opacity: 1;
}

.useCardIconMobile {
    display: none;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .useCard {
        flex-direction: row;
        align-items: center;
        opacity: 1;
    }

    .useCardIcon {
        display: none;
        opacity: 1;
    }

    .useCardIconMobile {
        display: block;
        width: 80px;
        height: 80px;
        margin: auto 25px;
    }

    .useCard .useCardIcon {
        opacity: 1;
    }

    .useCard .useCardNum {
        color: var(--color-primary);

    }

    .useCard .useCardTitle {
        color: var(--color-light);
    }

}


.useCard:hover {
    border: 1px solid var(--color-primary);
}

.useCard:hover .useCardIcon {
    opacity: 1;
}

.useCard:hover .useCardNum {
    color: var(--color-primary);

}

.useCard:hover .useCardTitle {
    color: var(--color-light);
}

.useCardNum {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 3.125rem;
    margin-right: 20px;
    white-space: nowrap;
    color: #444;
    transition: color 0.3s ease-in-out;
}

.useCardTitle {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: #444;
    transition: color 0.3s ease-in-out;
    flex-grow: 1;
}

.useCardIcon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    animation: wiggle 8s ease infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }
}

@media (max-width: 768px) {
    .useCardTitle {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}